<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsShutdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsShutdown.Properties.Settings>
            <setting name="dt" serializeAs="String">
                <value />
            </setting>
            <setting name="RunEvrDay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRunTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRunMnz" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsShutdown.Properties.Settings>
    </userSettings>
               </configuration>